{% extends "base.html" %}

{% block pgtitle %}
	用户注册
{% endblock pgtitle %}

{% block main_content %}
	<form action="", method = "POST" enctype="multipart/form-data">
		{% csrf_token %}
        <p>
            <label for="id_username">用户名:</label>
            <input type="text" name="username" maxlength="150" autofocus="" required="" id="id_username">
            <span class="helptext">*。150个字符或者更少。包含字母，数字和仅有的@/./+/-/_符号。</span>
        </p>
        <p>
            <label for="id_nickname">昵称:</label>
            <input type="text" name="nickname" maxlength="50" id="id_nickname">
        </p>
        <p>
            <label for="id_password1">密码:</label>
            <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1">
            <span class="helptext"></span>
        </p>
        <ul>
            <li>Your password can’t be too similar to your other personal information.</li>
            <li>你的密码必须包含至少 8 个字符。</li>
            <li>Your password can’t be a commonly used password.</li>
            <li>Your password can’t be entirely numeric.</li>
        </ul>
        <p></p>
        <p>
            <label for="id_password2">密码确认:</label>
            <input type="password" name="password2" autocomplete="new-password" required="" id="id_password2">
            <span class="helptext">为了校验，请输入与上面相同的密码。</span>
        </p>
        <!--p>
            <label for="id_avartar">头像:</label>
            <input type="file" name="avartar" id="id_avartar">
        </p-->
        <p>
            <label for="id_email">电子邮件地址:</label>
            <input type="email" name="email" maxlength="254" id="id_email">
        </p>

        <p>
            <label for="id_birthday">生日:</label>
            <input type="date" name="birthday" id="id_birthday">
        </p>
        <p>
            <label for="id_location">常住地</label>
            <input type="text" name="location" id="id_location">
        </p>




		<button type='submit' class = 'btn btn-primary'>立即注册</button>
	</form>

	
{% endblock main_content %}